<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CodeIgniter 2</string>
	<key>uuid</key>
	<string>04FD7E7D-1F18-4790-8C9A-BE6E59261026</string>
</dict>
</plist>
